<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Activation</title>
</head>

<body>
    <h1>Welcome <%= user.name %> to Our Website!</h1>
    <p>To activate your account, please click the following activation code:</p>
    <h2><%= activationCode %></h2>
    <p>If the above link doesn't work, you can copy and paste the following URL into your browser:</p>
    <p>
        For any query, mail us at <a href="ankitkr124039@gmail.com">Ankit Kumar</a>
    </p>
    <p>Thank you for joining us!</p>
</body>

</html>