.header {
    /* Width and Height property */
    width: 100%;

    /* Position property */
    position: relative;
}


.container_active {
    /* Width and Height property */
    width: 100%;
    height: 4rem;

    /* Position property */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background:  white;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2);
    /* Transition property */
    transition-property: all;
    transition-duration: 0.5s;
}

.container_inactive {
    /* Width and Height property */
    width: 100%;
    height: 4rem;
    z-index: 999;
}

.subcontainer {
    width: 95%;
    height: 100%;
    margin: auto;
}

.header_items {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
}

.logo {
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

.navitems {
    display: flex;
    align-items: center;
}

.sidebar {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

}

.sidebar_content {
    width: 70%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    background-color: #FFEEE8;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile_auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
}

.horizontal_line {
    height: 1px;
    width: 100%;
    border: 1px solid #8C94A3;
    margin-top: 0.5rem;
}

.button {
    height: 3rem;
    width: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6%;
}

.button_text {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

@media (min-width: 800px) {
    .subcontainer {
        width: 92%;
    }

}